<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8">

<a href="#/add">Nova Tarefa</a>
<br/>
<br/>
Buscar: <input ng-model="query">
<table>
	<tr>
		<th>Id</th>
		<th>Descrição</th>
		<th>Finalizado?</th>
		<th>Data de finalização</th>
	</tr>


	<tr ng-repeat="tarefa in tarefas | filter:query">
		<td>{{tarefa.id}}</td>
		<td>{{tarefa.descricao}}</td>

		<td ng-hide="tarefa.finalizado">
			<a href="" ng-click="finaliza({{tarefa.id}})"> Finalizar </a>
		</td>
		
		<td ng-show="tarefa.finalizado">
			<span>Finalizado</span>
		</td>


		<td>{{tarefa.dataFinalizacao}}</td>
		<td><a href="" ng-click="remove(tarefa)">Remover</a></td>
		<td><a href="#/update">Alterar</a></td>
	</tr>
</table>
