<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8">

<a href="#/add">Nova Tarefa</a>
<br/>
<br/>
Buscar: <input ng-model="query">
<table>
	<tr>
		<th>Id</th>
		<th>Descrição</th>
		<th>Finalizado?</th>
		<th>Data de finalização</th>
	</tr>


	<tr ng-repeat="tarefa in tarefas | filter:query">
		<td>{{tarefa.id}}</td>
		<td>{{tarefa.descricao}}</td>

		<td ng-show="tarefa.finalizado">
			<a href="#" onClick="finalizaAgora(${tarefa.id})"> Finalizar </a>
		</td>


		<td ng-show="tarefa.finalizado">Finalizado</td>

		<td>{{tarefa.data}}</td>
		<td><a ng-click="remover()">Remover</a></td>
		<td><a href="/alterar.html">Alterar</a></td>
	</tr>
</table>
